.footerContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background-color);
  border-top: 1px solid var(--border-color);
  z-index: 1000;
  padding: 0.1rem;
}
