@import "../index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background-color);
  padding: 0.1rem;
  border-top: 1px solid var(--border-color);
  z-index: 1000;
  margin-top: 1rem;
}
