@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  z-index: 1;
}

.loading-container.small {
  position: relative;
  min-height: 100px;
  height: auto;
}

.loading-container.medium {
  position: relative;
  min-height: calc(100vh - 120px);
  margin-top: 30px;
  height: auto;
}

.loading-container.large {
  position: fixed;
  min-height: 100vh;
  height: 100vh;
}

.loading-dots-container {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.loading-dot {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--primary-color);
  animation: loading-dot 1.4s infinite ease-in-out both;
}

.loading-container.small .loading-dot {
  width: 12px;
  height: 12px;
}

.loading-container.medium .loading-dot {
  width: 22px;
  height: 22px;
}

.loading-container.large .loading-dot {
  width: 32px;
  height: 32px;
}

.loading-dot:nth-child(1) {
  animation-delay: -0.32s;
}

.loading-dot:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes loading-dot {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
